<!DOCTYPE html>
<html>
<head>
    <title>
        문제 목록 보기
    </title>
</head>
<body>
    <form method="POST" action="/calculate">
        <h1> 나만의 문제장을 만들어보자! </h1>
        <h3> 빈칸으로 만들고 싶은 부분을 (괄호)로 감춰주세요! </br></h3>
        <h5> ex) 차세대 네트워크는 (고도화)된 통신 서비스를 제공하는 (미래형 통신 인프라)이다 </h5>
    </form>
    <div>
        <p>
            {% if result == None %}
                <h5> 아직 아무 문제도 입력이 안되었습니다. </h5>
            {% else %}
                {% for i in result %}
                    {%print(i)%}
                    <br>
                {%endfor %}
            {% endif %}
        </p>
    </div>
</body>
</html>


